.navbar-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    border: solid 2px black;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.navbar-cont-img img{
    width: 6em;
    padding: 5px;
}

.navbar-cont-links{
    display: flex;
    justify-content: space-between;
    width: 15rem;
    
}

.navbar-link{
    color: white;
}
